ghapi==1.0.6
gymnasium==1.0.0
keyboard==0.13.5
matplotlib==3.10.1
nox==2025.2.9
numpy==2.2.4
opencv_python==4.11.0.86
pytest==8.3.5
rich==13.9.4
setuptools==76.1.0
stable_baselines3==2.5.0
torch==2.6.0
mkdocs
mkdocs-material
mkdocstrings
mkdocstrings-python
pymdown-extensions
